.card-image.openai {
  background-image: url("/assets/images/models/openai.png");
}

.card-image.google {
  background-image: url("/assets/images/models/Google.png");
}

.card-image.meta {
  background-image: url("/assets/images/models/Meta.png");
}

.card-image.anthropic {
  background-image: url("/assets/images/models/Anthropic.png");
}

.card-image.stability {
  background-image: url("/assets/images/models/StabilityAI.jpg");
}

.card-image.microsoft {
  background-image: url("/assets/images/models/Microsoft.jpg");
}

.card-image.apple {
  background-image: url("/assets/images/models/Apple.png");
}

.card-image.deepseek {
  background-image: url("/assets/images/models/Deepseek.png");
}

.card-image.alibaba {
  background-image: url("/assets/images/models/Qwen.png");
}

.card-image.xai {
  background-image: url("/assets/images/models/XAI.png");
}

.card-image.cohere {
  background-image: url("/assets/images/models/StabilityAI.jpg");
}

.card-image.nvidia {
  background-image: url("/assets/images/models/Nvidia.png");
}

.card-image.mistralai {
  background-image: url("/assets/images/models/StabilityAI.jpg");
}

.card-image.sunoai {
  background-image: url("/assets/images/models/Suno.png");
}
