.card-image.recraft {
  background-image: url("/assets/images/models/Recraft.png");
}

.card-image.cohere {
  background-image: url("/assets/images/models/Cohere.png");
}

.card-image.xai {
  background-image: url("/assets/images/models/XAI.png");
}

.card-image.openai {
  background-image: url("/assets/images/models/openai.png");
}

.card-image.anthropic {
  background-image: url("/assets/images/models/Anthropic.png");
}

.card-image.meta {
  background-image: url("/assets/images/models/Meta.png");
}

.card-image.microsoft {
  background-image: url("/assets/images/models/Microsoft.jpg");
}

.card-image.allenai {
  background-image: url("/assets/images/models/AllenAi.png");
}

.card-image.amazon {
  background-image: url("/assets/images/models/Amazon.jpg");
}

.card-image.stability {
  background-image: url("/assets/images/models/StabilityAI.jpg");
}

.card-image.ibm {
  background-image: url("/assets/images/models/IBM.jpg");
}

.card-image.luma {
  background-image: url("/assets/images/models/Luma.png");
}

.card-image.deepseek {
  background-image: url("/assets/images/models/Deepseek.png");
}

.card-image.apple {
  background-image: url("/assets/images/models/Apple.png");
}

.card-image.metaai {
  background-image: url("/assets/images/models/Meta.png");
}

.card-image.pika {
  background-image: url("/assets/images/models/Pika.png");
}

.card-image.runway {
  background-image: url("/assets/images/models/Runway.png");
}

.card-image.tii {
  background-image: url("/assets/images/models/Tii.png");
}

.card-image.ideogram {
  background-image: url("/assets/images/models/Ideogram.jpg");
}

.card-image.blackforest {
  background-image: url("/assets/images/models/BlackForestLabs.jpg");
}

.card-image.googledeepmind {
  background-image: url("/assets/images/models/Google.png");
}

.card-image.alibaba {
  background-image: url("/assets/images/models/Qwen.png");
}

.card-image.sunoai {
  background-image: url("/assets/images/models/Suno.png");
}

.card-image.nvidia {
  background-image: url("/assets/images/models/Nvidia.png");
}

.card-image.udio {
  background-image: url("/assets/images/models/Udio.png");
}

.card-image.mistral {
  background-image: url("/assets/images/models/Mistral.png");
}

.card-image.midjourney {
  background-image: url("/assets/images/models/Midjourney.png");
}

.card-image.lighton {
  background-image: url("/assets/images/models/Lighton.jpg");
}

.card-image.adobe {
  background-image: url("/assets/images/models/Adobe.png");
}

.card-image.rhymes {
  background-image: url("/assets/images/models/Rhymes.jpg");
}

.card-image.nous {
  background-image: url("/assets/images/models/Nous.jpg");
}

.card-image.nous {
  background-image: url("/assets/images/models/Reka.png");
}

.card-image.google {
  background-image: url("/assets/images/models/Google.png");
}

.card-image.kyutai {
  background-image: url("/assets/images/models/Kyutai.jpg");
}

.card-image.kling {
  background-image: url("/assets/images/models/Kling.png");
}

.card-image.huggingface {
  background-image: url("/assets/images/models/Huggingface.png");
}

.card-image.zerooneai {
  background-image: url("/assets/images/models/01AI.png");
}

.card-image.reka {
  background-image: url("/assets/images/models/Reka.png");
}
